<h1>MakersBnB</h1>

<form action="/add_rental">
  <input type="submit" value="List a property"/>
</form>

<% @rentals.each do |rental| %>
  <%= rental.title %>
  <%= rental.rental_description %>
  <%= rental.price %>
  <%= rental.contact_details %>
  <% end %>
<br>
<% @dates.each do |date| %>
  <%= date.rental_start_date %>
  <%= date.rental_end_date %> >
<% end %>

